html
  overflow hidden
  font-family $font-default
  font-size font_base  
  
a, a:visited
  color inherit

body
  margin 0
  height 100vh
  position relative

section
  margin-top 4em

.info
  background black
  position absolute
  color white
  p
   font-size .5em