@import 'nib'
global-reset()
*, *:before, *:after
  box-sizing border-box
/**
 * Abstracts [ Theme, Variables, MediaQueries ]
 */
@import 'lib/abstracts'

/**
 * CORE
 * Essential HTML & Media Query setup
 */
@import 'html'
@import 'lib/core'

/**
* Mixins
**/
// @import 'mixins'

/**
 * COMMON Stylying
**/
@import 'lib/common'

/**
* Motion Styling
**/
@import 'lib/motion'

/**
* Elements [header, footer, forms, modal, card]
**/ 
// @import 'lib/elements'

/**
 * INTERACTIVES & Links
 */
@import 'lib/ui'

/**
 * Components
 **/
 