/**
 * CSS3 Grid
 *
 * grid-gap 2em
 * grid-template-columns auto 2fr minmax(auto, 10em)
 * grid-template-rows minmax(3rem, auto) 
 * grid-template-areas "meta view status"
**/

/**
* Uses .layout-grid
* => .cell
**/

cell(target)
  .cell
    &-target
      grid-area target