@import 'images'
@import 'pseudo'
@import 'flex'
@import 'styling'
// @import 'grid'

/**
* Standard Width and Position mixins
**/

maxWidth(max)
  width 100%
  max-width max

wh(width = auto, height = auto)
  width width
  height height

pos(top = 0, left = 0)
  top top
  left left