/**
* BORDERS
**/

border(size = .125em, colour = inherit, type = "solid")
  border size type colour
  
borderLeft(size = .125em, colour = inherit, type = "solid")
  border-left size type colour
borderRight(size = .125em, colour = inherit, type = "solid")
  border-right size type colour
borderTop(size = .125em, colour = inherit, type = "solid")
  border-top size type colour
borderBottom(size = .125em, colour = inherit, type = "solid")
  border-bottom size type colour
  
borderRadius(size = 1em)
  border-radius size
  
/**
* PADDING
**/
padding(tops = 1em, sides = 2em)
  padding tops sides
  
margin(tops = 0, sides = auto)
  margin tops sides